[submodule "enterprise"]
	path = enterprise
	url = https://gitlab.com/mit-mers/enterprise/enterprise.git
[submodule "pykirk"]
	path = pykirk
	url = https://gitlab.com/mit-mers/enterprise/pykirk-dispatcher.git
[submodule "pddl_to_sp"]
	path = pddl_to_sp
	url = https://gitlab.com/mit-mers/enterprise/pddl_to_sp.git
[submodule "robust-execution"]
	path = robust-execution
	url = https://gitlab.com/mit-mers/enterprise/robust-execution.git
