[submodule "pykirk"]
	path = pykirk
	url = git@github.com:jolkin/pykirk-dispatcher.git
[submodule "enterprise"]
	path = enterprise
	url = git@github.com:jolkin/enterprise.git
[submodule "pddl_to_sp"]
	path = pddl_to_sp
	url = git@github.com:jolkin/pddl_to_sp.git
[submodule "robust-execution"]
	path = robust-execution
	url = git@github.com:jolkin/robust-execution.git
